<div class="jumbotron">
   <h1>Eat Some Burgs</h1>
   <span>Add a burger then devour it.</span><br>
   <span>(Dont forget to throw away your trash)</span>
</div>
<div class="container">
   <div class="row">
      <div class="col-md-4">

         <div class="card">
            <div class="card-header">
               <h2>Tasty Burgers</h2>
            </div>
            <div class="card-body" id="tasty-burgers-body">
               {{#each burgers}}
               {{#unless devoured}}
               <div class="card burger-card">
                  <div class="card-header">
                     <span>{{this.burger_name}}</span>
                  </div>
                  <div class="card-body">
                     <button class="devour-btn btn btn-primary" data-id="{{this.id}}">Devour burg</button>
                  </div>
               </div>
               {{/unless}}
               {{/each}}
            </div>
         </div>
      </div>

      <div class="col-md-4">

         <div class="card">
            <div class="card-header">
               <h2>Eaten Burgers</h2>
            </div>
            <div class="card-body">
               {{#each burgers}}
               {{#if devoured}}
               <div class="card burger-card">
                  <div class="card-header">
                     <span>{{this.burger_name}}</span>
                  </div>
                  <div class="card-body">
                     <button class="discard-btn btn btn-primary" data-id="{{this.id}}">Discard trash</button>
                  </div>
               </div>
               {{/if}}
               {{/each}}
            </div>
         </div>
      </div>


      <div class="col-md-4">
         <div class="card">
            <div class="card-header">
               <h2>Add a Burger</h2>
            </div>
            <div class="card-body">
               <form class="add-burger">
                  <div class="form-group">
                     <label for="burg-name-input">Burger Name:</label>
                     <input type="text" id="burg-name-input" name="name">
                  </div>
                  <button class="btn btn-primary" type="button" id="submit-burger">Add burger</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>